body{
    background-color: #f2f3f5;
}
.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr repeat(2, auto) 1fr;
}
/* header */
.header{
    grid-column: 1;
    grid-row: 1;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    margin: 20px 0;
}
.header__logo{
    display: flex;
    align-items: center;
}
.header__logo > img{
    width:  100px;
    height: 100px;
}
.header__logo > h2{
    color:  #0055a5;
}
.navbar__list{
    display: flex;
    justify-content: center;
    list-style: none;
}
.navbar__list a{
    text-decoration: none;
    color: #6387bf;
}
.navbar__list--item{
    padding: 20px;
}
.navbar__list--item:nth-child(odd){
    border-bottom: 2px solid #00ff00;
}
.navbar__list--item:nth-child(even){
    border-bottom: 2px solid #4287f5;
}
.header__action{
    display: flex;
    align-items: center;
}
.action__button{
    border: 0;
    background-color: transparent;
    background-image: url(./assets/more.png);
    width: 40px;
    height: 50px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
.action__button--arrow{
    background-image: url(./assets/arrow.png);
}
/* main */
.main{
    grid-column: 1;
    grid-row: 2;
    padding: 10px 20px;
    margin: 20px 0;
    background-color: #fff;
}
.main__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main__header > button{
    background-color: #FA6E6E;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 1px #ccc;
    color: #fff;
    width: 100px;
    height: 50px;
}
.navbar__lis{
    display: flex;
    justify-content: center;
    list-style: none;
}
.navbar__lis--item{
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 1px #ccc;
}
.navbar__lis a{
    text-decoration: none;
    color: #fff;
}
.navbar__lis--item:nth-child(even){
    background-color: #b606c9;
}
.navbar__lis--item:nth-child(odd){
    background-color: #cc008b;
}
.main__content{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(180px, auto);
    grid-gap: 10px;
}
.content__item{
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: lighten;
    background-size: cover;
    background-position:center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}
.content__text{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
.content__item:hover .content__text{
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}
.content__item:nth-child(1){
    grid-column: 1/3;
    grid-row: 1/3;
    background-image: url(https://i.pinimg.com/564x/99/f5/0f/99f50fa57608c73a2f6b7ec809742774.jpg);/*l.u.*/
}
.content__item:nth-child(2){
    grid-column: 3;
    grid-row: 1;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0PL1Kzny5Omj0EnZIZfWb4wVMUOXONkou5A&usqp=CAU);
}
.content__item:nth-child(3){
    grid-column: 4;
    grid-row: 1;
    background-image: url(https://i.pinimg.com/564x/a2/84/a3/a284a3d94ff4d6bb988a874f0fbe1943.jpg);
}
.content__item:nth-child(4){
    grid-column: 5/7;
    grid-row: 1/3;
    background-image: url(https://i.pinimg.com/564x/7b/ed/47/7bed47ed699197c93d4200c999af9d8c.jpg);/*r.u.*/
}
.content__item:nth-child(5){
    grid-column: 3;
    grid-row: 2;
    background-image: url(https://i.pinimg.com/564x/d2/61/d9/d261d9002113f90e55b183e7953d7fa8.jpg);
}
.content__item:nth-child(6){
    grid-column: 4;
    grid-row: 2;
    background-image: url(https://i.pinimg.com/236x/1a/5c/e6/1a5ce64c3932ed6a666c263241c72f7a.jpg);
}
.content__item:nth-child(7){
    grid-column: 1;
    grid-row: 3;
    background-image: url(https://pm1.narvii.com/6394/dffccae7f45fa4a70af6c6267d9cf38e498ce23c_hq.jpg);
}
.content__item:nth-child(8){
    grid-column: 2;
    grid-row: 3;
    background-image: url(https://i.pinimg.com/236x/72/c3/be/72c3be337aadedc6c40a55aebf5b7c14.jpg);
}
.content__item:nth-child(9){
    grid-column: 3/5;
    grid-row: 3/5;
    background-image: url(https://thumbs.gfycat.com/EmotionalFamiliarEgg-max-1mb.gif);/*mid*/
}
.content__item:nth-child(10){
    grid-column: 5;
    grid-row: 3;
    background-image: url(https://i.pinimg.com/236x/87/db/bb/87dbbbfc77c8075bffaeebeb1e750a1e.jpg);
}
.content__item:nth-child(11){
    grid-column: 6;
    grid-row: 3;
    background-image: url(https://i.pinimg.com/236x/50/fd/92/50fd9218604f83ee50813fcc24c52996.jpg);
}
.content__item:nth-child(12){
    grid-column: 1;
    grid-row: 4;
    background-image: url(https://www.walliapp.com/wp-content/uploads/2017/11/The-Great-Thawp.jpg);
}
.content__item:nth-child(13){
    grid-column: 2;
    grid-row: 4;
    background-image: url(https://i.pinimg.com/236x/f0/c0/27/f0c02773c616e190685a4aa5f3b79fe1.jpg);
}
.content__item:nth-child(14){
    grid-column: 5;
    grid-row: 4;
    background-image: url(https://i.pinimg.com/236x/35/29/93/3529937d8810a66b7ec90f6f9eb367d3.jpg);
}
.content__item:nth-child(15){
    grid-column: 6;
    grid-row: 4;
    background-image: url(https://i.pinimg.com/236x/59/b1/6b/59b16be8510a11135dcfc80bb608592a.jpg);
}
.content__item:nth-child(16){
    grid-column: 1/3;
    grid-row: 5/7;
    background-image: url(https://marmotamaps.com/de/fx/wallpaper/download/faszinationen/Marmotamaps_Wallpaper_Berchtesgaden_Desktop_1920x1080.jpg);/*l.b*/
}
.content__item:nth-child(17){
    grid-column: 3;
    grid-row:5;
    background-image: url(https://i.pinimg.com/236x/57/f4/ac/57f4acad6588e8a4aac5d34d29169c27.jpg);
}
.content__item:nth-child(18){
    grid-column: 4;
    grid-row: 5;
    background-image: url(https://i.pinimg.com/236x/81/d4/20/81d42002e901a74b8654abf019771aba.jpg);
}
.content__item:nth-child(19){
    grid-column: 5/7;
    grid-row: 5/7;
    background-image: url(https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg);
}
.content__item:nth-child(20){
    grid-column: 3;
    grid-row: 6;
    background-image: url(https://images-na.ssl-images-amazon.com/images/I/51NqbdDrbOL.png);
}
.content__item:nth-child(21){
    grid-column: 4;
    grid-row: 6;
    background-image: url(https://i.pinimg.com/564x/a6/8d/d0/a68dd0580cccdb62ccd7b014cc1890cb.jpg);
}
/* scroll-section */
.scroll{
    grid-column: 1;
    grid-row: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.scroll__content{
    flex: 1 400px;
    margin: 10px;
    padding: 0px;
    width: 200px;
    height: 200px;
    background-color: #000;
}
.scroll__content > h3{
    color:  #fff;
    border-bottom: 2px solid #ffa500;
    margin: 10px;
}
.scroll__content > p{
    text-align: center;
    color: #fff;
}
/* footer */
.footer{
    grid-column: 1;
    grid-row: 4;
    background-color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer__copyright{
    color: #fff;
}
.footer__button{
    border: 0;
    background-color: transparent;
    background-image: url(https://cdn3.iconfinder.com/data/icons/faticons/32/arrow-up-01-512.png);
    width: 40px;
    height: 50px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
@media (max-width: 1450px){
    .main__content{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(180px, auto);
        grid-gap: 10px;
    }
    .content__item:nth-child(1){
        grid-column: 1/3;
        grid-row: 1/3;
    }
    .content__item:nth-child(2){
        grid-column: 3;
        grid-row: 1;
    }
    .content__item:nth-child(3){
        grid-column: 4;
        grid-row: 1;
    }
    .content__item:nth-child(4){
        grid-column: 1/3;
        grid-row: 3/5;
    }
    .content__item:nth-child(5){
        grid-column: 3;
        grid-row: 2;
    }
    .content__item:nth-child(6){
        grid-column: 4;
        grid-row: 2;
    }
    .content__item:nth-child(7){
        grid-column: 1/3;
        grid-row: 5/7;
    }
    .content__item:nth-child(8){
        grid-column: 3;
        grid-row: 3;
    }
    .content__item:nth-child(9){
        grid-column: 4;
        grid-row: 3;
    }
    .content__item:nth-child(10){
        grid-column: 3;
        grid-row: 8;
    }
    .content__item:nth-child(11){
        grid-column: 3;
        grid-row: 4;
    }
    .content__item:nth-child(12){
        grid-column: 4;
        grid-row: 4;
    }
    .content__item:nth-child(13){
        grid-column: 4;
        grid-row: 8;
    }
    .content__item:nth-child(14){
        grid-column: 3;
        grid-row: 5;
    }
    .content__item:nth-child(15){
        grid-column: 4;
        grid-row: 5;
    }
    .content__item:nth-child(16){
        grid-column: 1/5;
        grid-row: 9/12;
    }
    .content__item:nth-child(17){
        grid-column: 3;
        grid-row: 6;
    }
    .content__item:nth-child(18){
        grid-column: 4;
        grid-row: 6;
    }
    .content__item:nth-child(19){
        grid-column: 1/3;
        grid-row:7/9;
    }
    .content__item:nth-child(20){
        grid-column: 3;
        grid-row: 7;
    }
    .content__item:nth-child(21){
        grid-column: 4;
        grid-row: 7;
    }
}
@media (max-width: 1200px){
    .header__navbar{
        visibility: hidden;
    }
    .main__navbar{
        visibility: hidden;        
    }
    .footer__nav{
        visibility: hidden;
    }
    .main__content{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(180px, auto);
        grid-gap: 10px;
    }
    .content__item:nth-child(1){
        grid-column: 1;
        grid-row: 1;
    }
    .content__item:nth-child(2){
        grid-column: 2;
        grid-row: 1;
    }
    .content__item:nth-child(3){
        grid-column: 3;
        grid-row: 1;
    }
    .content__item:nth-child(4){
        grid-column: 1;
        grid-row: 2;
    }
    .content__item:nth-child(5){
        grid-column: 2;
        grid-row: 2;
    }
    .content__item:nth-child(6){
        grid-column: 3;
        grid-row: 2;
    }
    .content__item:nth-child(7){
        grid-column: 1;
        grid-row: 3;
    }
    .content__item:nth-child(8){
        grid-column: 2;
        grid-row: 3;
    }
    .content__item:nth-child(9){
        grid-column: 3;
        grid-row: 3;
    }
    .content__item:nth-child(10){
        grid-column: 1;
        grid-row: 4;
    }
    .content__item:nth-child(11){
        grid-column: 2;
        grid-row: 4;
    }
    .content__item:nth-child(12){
        grid-column: 3;
        grid-row: 4;
    }
    .content__item:nth-child(13){
        grid-column: 1;
        grid-row: 5;
    }
    .content__item:nth-child(14){
        grid-column: 2;
        grid-row: 5;
    }
    .content__item:nth-child(15){
        grid-column: 3;
        grid-row: 5;
    }
    .content__item:nth-child(16){
        grid-column: 1;
        grid-row: 6;
    }
    .content__item:nth-child(17){
        grid-column: 2;
        grid-row: 6;
    }
    .content__item:nth-child(18){
        grid-column: 3;
        grid-row: 6;
    }
    .content__item:nth-child(19){
        grid-column: 1;
        grid-row: 7;
    }
    .content__item:nth-child(20){
        grid-column: 2;
        grid-row: 7;
    }
    .content__item:nth-child(21){
        grid-column: 3;
        grid-row: 7;
    }
}
@media (max-width: 800px){
    .main__content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(180px, auto);
        grid-gap: 10px;
    }
    .content__item:nth-child(1){
        grid-column: 1;
        grid-row: 1;
    }
    .content__item:nth-child(2){
        grid-column: 2;
        grid-row: 1;
    }
    .content__item:nth-child(3){
        grid-column: 1;
        grid-row: 2;
    }
    .content__item:nth-child(4){
        grid-column: 2;
        grid-row: 2;
    }
    .content__item:nth-child(5){
        grid-column: 1;
        grid-row: 3;
    }
    .content__item:nth-child(6){
        grid-column: 2;
        grid-row: 3;
    }
    .content__item:nth-child(7){
        grid-column: 1;
        grid-row: 4;
    }
    .content__item:nth-child(8){
        grid-column: 2;
        grid-row: 4;
    }
    .content__item:nth-child(9){
        grid-column: 1;
        grid-row: 5;
    }
    .content__item:nth-child(10){
        grid-column: 2;
        grid-row: 5;
    }
    .content__item:nth-child(11){
        grid-column: 1;
        grid-row: 6;
    }
    .content__item:nth-child(12){
        grid-column: 2;
        grid-row: 6;
    }
    .content__item:nth-child(13){
        grid-column: 1;
        grid-row: 7;
    }
    .content__item:nth-child(14){
        grid-column: 2;
        grid-row: 7;
    }
    .content__item:nth-child(15){
        grid-column: 1;
        grid-row: 8;
    }
    .content__item:nth-child(16){
        grid-column: 2;
        grid-row: 8;
    }
    .content__item:nth-child(17){
        grid-column: 1;
        grid-row: 9;
    }
    .content__item:nth-child(18){
        grid-column: 2;
        grid-row: 9;
    }
    .content__item:nth-child(19){
        grid-column: 1;
        grid-row: 10;
    }
    .content__item:nth-child(20){
        grid-column: 2;
        grid-row: 10;
    }
    .content__item:nth-child(21){
        grid-column: 1;
        grid-row: 11;
    }
}
@media (max-width: 600px){
    .header{
        flex-direction: column;
        align-items: center;
    }
    .footer{
        flex-direction: column;
        align-items: center;
    }
    .main__content{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(180px, auto);
        grid-gap: 10px;
    }
    .content__item:nth-child(1){
        grid-column: 1;
        grid-row: 1;
    }
    .content__item:nth-child(2){
        grid-column: 1;
        grid-row: 2;
    }
    .content__item:nth-child(3){
        grid-column: 1;
        grid-row: 3;
    }
    .content__item:nth-child(4){
        grid-column: 1;
        grid-row: 4;
    }
    .content__item:nth-child(5){
        grid-column: 1;
        grid-row: 5;
    }
    .content__item:nth-child(6){
        grid-column: 1;
        grid-row: 6;
    }
    .content__item:nth-child(7){
        grid-column: 1;
        grid-row: 7;
    }
    .content__item:nth-child(8){
        grid-column: 1;
        grid-row: 8;
    }
    .content__item:nth-child(9){
        grid-column: 1;
        grid-row: 9;
    }
    .content__item:nth-child(10){
        grid-column: 1;
        grid-row: 10;
    }
    .content__item:nth-child(11){
        grid-column: 1;
        grid-row: 11;
    }
    .content__item:nth-child(12){
        grid-column: 1;
        grid-row: 12;
    }
    .content__item:nth-child(13){
        grid-column: 1;
        grid-row: 13;
    }
    .content__item:nth-child(14){
        grid-column: 1;
        grid-row: 14;
    }
    .content__item:nth-child(15){
        grid-column: 1;
        grid-row: 15;
    }
    .content__item:nth-child(16){
        grid-column: 1;
        grid-row: 16;
    }
    .content__item:nth-child(17){
        grid-column: 1;
        grid-row: 17;
    }
    .content__item:nth-child(18){
        grid-column: 1;
        grid-row: 18;
    }
    .content__item:nth-child(19){
        grid-column: 1;
        grid-row: 19;
    }
    .content__item:nth-child(20){
        grid-column: 1;
        grid-row: 20;
    }
    .content__item:nth-child(21){
        grid-column: 1;
        grid-row: 21;
    }
}